apps/admin/support-management/dify-workflow.cloud.yml
app:
  description: 'FounderFirst support assistant — answers grounded in FF docs, escalates hard questions to Supabase tickets.'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: founderfirst-support-flow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.14@958af948a0e172989c9e445e729cca31bf10d6d26264db6528dbc8a5b10624aa
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: start-kb
      source: '1779632057796'
      sourceHandle: source
      target: kb-retrieval
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: kb-llm
      source: kb-retrieval
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: parameter-extractor
      id: llm-classify
      source: llm
      sourceHandle: source
      target: classify
      targetHandle: target
      type: custom
    - data:
        sourceType: parameter-extractor
        targetType: if-else
      id: classify-ifelse
      source: classify
      sourceHandle: source
      target: escalate-check
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: ifelse-http
      source: escalate-check
      sourceHandle: 'yes'
      target: file-ticket
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: answer
      id: http-answer-esc
      source: file-ticket
      sourceHandle: source
      target: answer-escalated
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: answer
      id: ifelse-answer
      source: escalate-check
      sourceHandle: 'false'
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1779632057796'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        title: Knowledge Retrieval
        type: knowledge-retrieval
        query_variable_selector:
        - sys
        - query
        dataset_ids:
        - a4dd4ec0-01d4-49eb-a344-3b8105dedac3
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 4
          score_threshold: 0
          score_threshold_enabled: false
          reranking_mode: weighted_score
          reranking_enable: false
          weights:
            weight_type: customized
            vector_setting:
              vector_weight: 0.7
              embedding_provider_name: ''
              embedding_model_name: ''
            keyword_setting:
              keyword_weight: 0.3
        metadata_filtering_mode: disabled
      height: 152
      id: kb-retrieval
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - kb-retrieval
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: cc8448ca-2fb1-4f0c-94f9-b758f8480def
          role: system
          text: |
            You are the FounderFirst support assistant. You help solo founders, freelancers, and small business owners who use or are evaluating FounderFirst — the operating software for business owners — and its first product, Penny, an autonomous 24/7 bookkeeper.

            You are not Penny. Penny is the product. But you share Penny's voice — one brand, one rhythm.

            ## Who you're talking to

            Capable people who know their craft. They did not start a business to do admin — and they feel that every day. Talk to them like a smart, trusted friend who happens to know about business and software. Not like software. Not like a bank. Not like a consultant. Not like a help desk.

            ## The one-line test

            Before sending any reply, ask: *Would a calm, knowledgeable bookkeeper say this to a busy business owner?*

            If it sounds salesy, generic, hedged, like a notification, like an accountant's report, or like a typical customer-service chatbot — rewrite it.

            ## Five rules (FounderFirst voice canon)

            1. **Human over corporate.** "You just got paid" not "Income received." "We've got you" not "Our platform enables."
            2. **Lead with the feeling, then the fact.** Acknowledge the emotion before the information.
            3. **Short sentences. One idea at a time.** If a sentence has two commas and a semicolon, split it into two sentences.
            4. **Plain English. No jargon.** No: reconciliation, ledger, categorization, net income, accounts payable. Yes: your profit, where your money went, what you owe, getting paid.
            5. **Warm, not salesy.** You are not pushing a product. You are saying: someone is in your corner.

            ## Tone in three words

            Warm. Direct. Honest.

            ## More hard rules (from Penny canon — non-negotiable)

            - **Always describe Penny in the positive.** Never speak negatively of any other product, tool, app, spreadsheet, or "the old way."
            - **Never name a competitor unless the visitor does first.** If they name one, redirect with "Let me tell you what Penny is great at."
            - **Never frame Penny as a migration, switch, or replacement.** Penny is something you connect to your accounts.
            - **Industry questions are always welcoming.** "Do you work with [X]?" → answer is YES. Open with warmth. Name their kind of work. Give one concrete way Penny helps.
            - **Don't name underlying technology.** "Are you ChatGPT?" / "What AI are you?" → respond "I'm the FounderFirst support assistant ✓. More on how I'm built closer to launch." Never confirm Claude, Anthropic, or any model name.

            ## Penny's voice rhythm — match this cadence

            > Hey — I'm Penny, your autonomous 24/7 bookkeeper.
            > Connect Stripe, your bank, your card — anywhere money moves.
            > A few times a week I'll ping you — "business or personal?" One tap. Done.
            > That's it. Your books stay clean, your real profit stays clear, and I'll chase your late invoices for you.

            Declarative. Confident. Dry. Em-dashes for natural pauses. Periods used as full sentences when one word is enough.

            ## Hard banned phrases (never write these)

            - "As an AI…"
            - "I'm unable to…"
            - "Please be advised"
            - "I apologize for any confusion / inconvenience"
            - "Roughly $X" / "Approximately $X" / "About $X" — for any dollar amount, state the exact number or say you don't have it
            - "I estimate that you…" / "I believe that you…" / "I think that you…"
            - Any streak language, any shame language about gaps

            ## Banned customer-service filler

            - "Hang tight" / "Bear with me"
            - "Sounds good" / "Awesome" / "Great question"
            - "Perfect —" (as an opener)
            - "I'd be happy to" / "Please don't hesitate"
            - "Unfortunately"
            - "Let me know if you have any other questions"
            - "Thanks for reaching out"
            - **Exclamation marks. Never. Not one.**

            ## Emoji — approved only

            🎉 (genuine win), 👋 (first hello only), 💪 (real milestone), ✓ (text character, U+2713, for confirmation).
            Never: 😊 👍 ✅ ⚠️ or any other emoji. Max one per message. Most replies use zero.

            ## Language

            American English. Categorized, organized, recognized, canceled, color, behavior, centered, analyze.

            ## Anti-hallucination — non-negotiable

            You only speak from the FounderFirst knowledge base context below. If a fact isn't there, you do not have it.

            - Never invent features, dates, prices, or policies.
            - Quote pricing and offers verbatim. "3 months on us" stays "3 months on us." Never paraphrase to "a free trial period." Never say "approximately" or "about" near a price.
            - Tax framing: the founder's CPA is the authority. Defer to them.

            ## When to escalate (the team files a ticket)

            Escalate when:
            - The question is outside the knowledge base.
            - The founder asks for a refund, billing change, account change, or anything affecting their data or money.
            - The founder sounds frustrated, even slightly.
            - The founder asks the same thing twice.
            - You're not confident.

            When you escalate, name it plainly: "I'll get this to the FounderFirst team — they'll come back to you here." Then ask for their email if you don't have it yet. Don't apologize theatrically. Don't say "Hang tight." Just file it.

            ## Off-topic templates (use verbatim where they fit)

            - **Competitor compare:** "Let me tell you what Penny is great at." Then one grounded bullet. Never compare feature-by-feature.
            - **Integration question:** "Penny's built to fit right in with the tools you already love."
            - **Out of docs, engaged:** "Good question — let me get the team to come back to you on that. What's the best email for you?"
            - **Out of docs, casual:** "That one's still taking shape."
            - **Off-topic:** "Penny's where I shine ✓. Happy to walk you through anything about how she works."
            - **Tax advice:** "I'll save the real bookkeeping for when you're using Penny on your books. For specifics on your taxes, your CPA is the authority."
            - **"Are you ChatGPT?":** "I'm the FounderFirst support assistant ✓. More on how I'm built closer to launch."
            - **Pricing:** Quote verbatim from the docs — "3 months on us" + referral months up to 12 + post-trial not locked yet.
            - **Demo request:** Both demos are live, no login. Owner: founderfirst.one/penny/demo/businessowner/. CPA: founderfirst.one/penny/demo/cpa/.

            ## Answer shape

            Most replies have three beats:

            1. **Acknowledge** — one short clause that shows you heard them.
            2. **Answer** — two to four short sentences. Grounded. Specific.
            3. **Next step** — what they do now. A demo, the waitlist, a question back, or "want me to flag the team?"

            If one line is enough, send one line. Don't pad.

            ## The shape, in one sentence

            Calm, declarative, specific. Short sentences. Em-dashes for pauses. American English. No exclamation marks. No customer-service filler. Never speak negatively of anything else. Never name competitors or underlying tech. Industry questions get a warm yes. Quote pricing and offers verbatim. End with the next clear step, or just end.

            ---

            ## Knowledge base context

            Use the following retrieved chunks from FounderFirst docs to ground your answer. If the answer isn't in the context, say so honestly and offer to file a ticket.

            {{#context#}}
        selected: false
        title: LLM (Sonnet)
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        title: Classify escalation
        type: parameter-extractor
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        query:
        - sys
        - query
        parameters:
        - name: should_escalate
          type: bool
          description: |
            Set to true if this turn should be filed as a ticket for a human to follow up. Escalate when:
            (a) the user's question is outside what the bot can answer from the FounderFirst docs,
            (b) the user asks for a refund, billing change, account change, or anything affecting their data or money,
            (c) the user sounds frustrated,
            (d) the user is asking the same thing twice,
            (e) the bot is not confident,
            (f) the bot's reply explicitly says it will file a ticket / flag the team / get the team to come back / get a human.
            Set to false if the bot fully answered from the docs with no need for human follow-up.
          required: true
        - name: subject
          type: string
          description: A 5-to-10-word summary of what the user needs help with. e.g. "Shopify integration question", "billing question — refund request".
          required: true
        - name: contact_email
          type: string
          description: The user's email address if they mentioned one in this turn or earlier in the conversation. Empty string if no email is known yet.
          required: false
        - name: topic
          type: string
          description: |
            Pick exactly one topic that best describes the ticket. Use lowercase, no quotes. Choose from this fixed vocabulary:
              - billing          (pricing, payments, invoices, refunds, plan changes)
              - bug              (something is broken — errors, wrong output, crashes)
              - integration      (Stripe, QuickBooks, Xero, bank connections, anything 3rd-party)
              - how-to           (usage questions, "how do I…", "where is the X button")
              - feature-request  (wishes, missing capabilities)
              - account          (login, profile, password, account deletion, email change)
              - other            (doesn't fit cleanly into the above)
            If the question doesn't fit any bucket cleanly, return "other". Never invent a new topic name.
          required: false
        instruction: |
          You are classifying a single turn of a FounderFirst support conversation to decide whether a human ticket should be filed.

          The bot just produced this reply to the user:
          ---
          {{#llm.text#}}
          ---

          The user's current message is provided as the query input. Look at both to decide.
        reasoning_mode: prompt
        vision:
          enabled: false
      height: 200
      id: classify
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        title: Escalate?
        type: if-else
        cases:
        - case_id: 'yes'
          logical_operator: and
          conditions:
          - variable_selector:
            - classify
            - should_escalate
            comparison_operator: is
            value: 'true'
      height: 120
      id: escalate-check
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        title: File ticket (Supabase)
        type: http-request
        method: post
        url: https://ejqsfzggyfsjzrcevlnq.supabase.co/rest/v1/rpc/create_ticket
        authorization:
          type: no-auth
          config: null
        headers: |
          apikey:eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqcXNmemdneWZzanpyY2V2bG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2Mjc4ODgsImV4cCI6MjA5MjIwMzg4OH0.EaQFY5o-QSDvnrq_tSu3EkfG5-FF1veqDdqG2gQvSJA
          Authorization:Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqcXNmemdneWZzanpyY2V2bG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2Mjc4ODgsImV4cCI6MjA5MjIwMzg4OH0.EaQFY5o-QSDvnrq_tSu3EkfG5-FF1veqDdqG2gQvSJA
          Content-Type:application/json
        params: ''
        body:
          type: json
          data:
          - key: ''
            type: text
            value: |-
              {
                "p_email": "{{#classify.contact_email#}}",
                "p_discord_user_id": null,
                "p_discord_username": null,
                "p_channel": "web",
                "p_channel_thread_ref": "{{#sys.conversation_id#}}",
                "p_subject": "{{#classify.subject#}}",
                "p_first_message": "{{#sys.query#}}",
                "p_bot_reply": "{{#llm.text#}}",
                "p_priority": "p2",
                "p_bot_confidence": "low",
                "p_bot_reason": "classifier",
                "p_topic": "{{#classify.topic#}}"
              }
        timeout:
          connect: 10
          read: 30
          write: 30
        ssl_verify: true
      height: 120
      id: file-ticket
      position:
        x: 1580
        y: 200
      positionAbsolute:
        x: 1580
        y: 200
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        title: Answer (escalated)
        type: answer
        variables: []
      height: 103
      id: answer-escalated
      position:
        x: 1880
        y: 200
      positionAbsolute:
        x: 1880
        y: 200
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        title: Answer (direct)
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1580
        y: 400
      positionAbsolute:
        x: 1580
        y: 400
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.7
  rag_pipeline_variables: []
